<%= form_tag '/say_hello/MTS_input_and_verify_code_success' do %>
<html>
<head>
  <title>МТС - WiFI portal</title>


  <meta charset="UTF-8">
  <%= stylesheet_link_tag "styles"%>
  <%= stylesheet_link_tag "forphones"%>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>

<body text-align:center>

<div id="pagewrap">
  <header id="header">

  </header>

  <div id="content">
    <hgroup>
      <h1 id="site-logo">MTS Captive portal</h1>
      <h2 id="site-description">Get high speed wifi access</h2>
    </hgroup>
    <!-- <nav>
       <ul id="main-nav">
         <li><a href="#">Home</a></li>
       </ul>
     </nav> -->
    <p>Код подтверждения отправлен</p>
    <%= text_area_tag(:verificationcode_mts, @verificationcode_mts ) %>
    <p></p>
    <%= button_to "Подтвердить", :action => 'MTS_input_and_verify_code_success' %>

  </div>
  <!--
  <aside id="sidebar">
    <section class="widget">
      widget
    </section>
  </aside>
  -->

</div>

</body>

</html>
<% end %>
<%= @mm%>