<%= form_tag '/' do %>

    <html>
    <head>
      <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
      <%= stylesheet_link_tag "stylesStep1"%>
    </head>
    <body>

    <div id="content">
      <div id="flowcall"></div>
      <hgroup>
        <h1 id="site-logo">Портал авторизации - MTS WiFI</h1>
      </hgroup>
      <!-- <nav>
         <ul id="main-nav">
           <li><a href="#">Home</a></li>
         </ul>
       </nav> -->
      <p>Введите номер телефона, на него прийдет СМС с кодом подтверждения</p>
	  <p></p>

      <div id="textfield"><%= telephone_field_tag(:phone_number, @phone_number ) %></div>
      <p></p>
      <%= button_to "Отправить", {action: 'MTS_check_msisdn_and_send_sms'}, class: 'button_to' %>

    </div>
    </body>
    </html>
<% end %>
<%= @mm%>