<%= form_tag '/', :id=>"start_page", :method=>"post", :onsubmit=>"controlF(this); return false;", :onkeyup=>"return proverka(this);" do  |f|%>

    <html>
    <head>
      <title>??? - WiFI portal</title>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
      <%= stylesheet_link_tag "stylesStep1"%>
      <%= stylesheet_link_tag "steps/step1_pc"%>
      <%= stylesheet_link_tag "steps/step1_tablet"%>
      <%= stylesheet_link_tag "steps/step1_mobile"%>
      <%= stylesheet_link_tag "additional/popupStyle"%>

      <%= stylesheet_link_tag "sweet-alert"%>
      <%= stylesheet_link_tag "fontTruthCYR"%>
      <%= javascript_include_tag "sweet-alert.min"%>
      <%= javascript_include_tag "popup_window"%>

      <%= javascript_include_tag "platform"%>

      <%= javascript_include_tag "jquery-3.1.1"%>
      <%= javascript_include_tag "jquery.maskedinput-1.4.1"%>

    <!--  <script type="text/javascript">
        $(function(){
          $('#language_change').change(function () {
            valll=$('#language_change :selected').val();
            $('#input_your_number_step').val("valll");
          })
        });
      </script>-->
<%= @browserdescription %>
    </head>
    <body>


    <div id="content">
      <nav>
        <div  id="id_logo" class="logo-box">
          <h1 class="logo">
            <a href="/">
              <div id="logo"> </div>
            </a>
          </h1>
        </div>
      </nav>
      <div id="empty2"></div>
      <div id="input_your_number_step"><p><%= "#{@number_form}" %></p></div>
      <div id="splitter_for_step_line_chevron"></div>
      <div id="input_your_code_step"><p><%= "#{@code_form}" %></p></div>
      <div id="splitter_for_step_line_chevron"></div>
      <div id="use_an_internet_step"><p><%= "#{@internet_form}" %></p></div>
      <div id="gorizontal_splitter"></div>
      <hgroup>
        <div id="empty"></div>
       <!-- <h1 id="site-logo">?????? ??????????? - MTS WiFI</h1> -->
      </hgroup>
      <!-- <nav>
         <ul id="main-nav">
           <li><a href="#">Home</a></li>
         </ul>ytyty
       </nav> -->
     <!-- <p>??????? ????? ????????, ?? ???? ??????? ?????????? SMS ? ????? ?????????????</p> -->
      <hgroup id = "number_field">
      <!--  <div id="textfield"><p>???<br>?????:</p></div> -->

      <!--  <select id="textfield" class="combobox" name="otv" size=1 onChange="">
          <option value="1">+375
          <option value="2">+374
          <option value="3">+7
          <option value="4">+564
          <option value="5">+123
        </select>
        -->





<!--
        <input style="width:600px" id="textfield" type="text" value="eyerty"/>
        <select id="options">
          <option value="#000">yerty</option>
          <option value="#fff">etyerty</option>
          <option value="red">rtyety</option>
        </select>-->



    <script type="text/javascript">
          $(function(){
            $("#phone_number").mask("+375 (99) 999-99-99");
          });
        </script>


      <div id="textfield" class="phone_number"></div>
      </hgroup>
      <%= telephone_field_tag(:phone_number, @phone_number, :type=>"tel", :placeholder=>"+375 (__) ___ __ __", :id=>"phone_number") %>
      <%= button_to @button_text, {action: 'MTS_check_msisdn_and_send_sms'}, class: 'button_to', id: 'user_phone2' %>
      <select id="language_change"  name="otv" size=1 type="text">
        <option value="1"><%= "#{@russian_language}"%>
        <option value="2"><%= "#{@english_language}"%>
        <option value="3"><%= "#{@belorussian_language}"%>
      </select>


    </div>

    <%= javascript_include_tag "is.mobile"%>




   <!-- <div id="hide-layout" class="hide-layout"></div> -->
    </body>
    </html>
<% end %>
<%= @mm%>