<%= form_tag '/' do %>

<html>
<head>
  <title>МТС - WiFI portal</title>

  <nav>
    <div class="logo-box">
      <h1 class="logo">
        <a href="/">
          <img src="http://i6.imageban.ru/out/2016/09/11/2d547461679ab8a43336475d5026a873.png">
        </a>
      </h1>
    </div>

    <ul>

      <li><a href="http://www.mts.by">Сайт МТС</a></li>
      <li><a href="http://www.mts.by/contacts">Контакты</a></li>
      <li><a href="https://internet.mts.by">Личный кабинет</a></li>
      <li><a href="https://help.mts.by/hc/ru/requests/new">Онлайн поддержка </a></li>
    </ul>
  </nav>


  <meta charset="UTF-8">
  <%= stylesheet_link_tag "styles"%>
  <%= stylesheet_link_tag "forphones"%>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>

<body text-align:center>

<div id="pagewrap">
  <header id="header">

  </header>

  <div id="content">
    <hgroup>
      <h1 id="site-logo">MTS Captive portal</h1>
      <h2 id="site-description">Get high speed wifi access</h2>
    </hgroup>
    <!-- <nav>
       <ul id="main-nav">
         <li><a href="#">Home</a></li>
       </ul>
     </nav> -->
    <p>Введите номер телефона</p>

    <%= telephone_field_tag(:phone_number, @phone_number ) %>
    <p></p>
    <%= button_to "Отправить временный парmоль", :action => 'sendsms' %>

  </div>
  <!--
  <aside id="sidebar">
    <section class="widget">
      widget
    </section>
  </aside>
  -->
  <footer id="footer">
    СООО Мобильные ТелеСистемы. Все права защищены
  </footer>
</div>

</body>

</html>
<% end %>
<%= @mm%>